@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}






<nav class="bg-gray-900 text-white p-4">

    @if (User.Identity.IsAuthenticated)
    {
        <span>Hola, @User.Identity.Name</span>

        @if (User.IsInRole("Admin"))
        {
            <a href="/Admin/Dashboard" class="bg-red-600 px-2 py-1 rounded ml-2">Panel Admin</a>
        }
        
        var dept = User.Claims.FirstOrDefault(c => c.Type == "Department")?.Value;
        if(dept == "IT")
        {
             <span class="text-green-400 text-xs"> (Soporte Técnico)</span>
        }

        if(dept == "Developmet")
        {
             <span class="text-green-400 text-xs"> (Soporte Técnico)</span>
        }
    }
    <button onclick="window.AppLoader.show();">
        Ir a otro lado
    </button>
    <form method="post" asp-page="/Account/Logout" class="inline">
        <button type="submit" class="text-red-600 hover:text-red-800">Cerrar Sesión</button>
    </form>
</nav>