@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

@* <nav class="bg-gray-900 text-white p-4">

    @if (User.Identity.IsAuthenticated)
    {
        <span>Hola, @User.Identity.Name</span>

        @if (User.IsInRole("Admin"))
        {
            <a href="/Admin/Dashboard" class="bg-red-600 px-2 py-1 rounded ml-2">Panel Admin</a>
        }
        
        var dept = User.Claims.FirstOrDefault(c => c.Type == "Department")?.Value;
        if(dept == "IT")
        {
             <span class="text-green-400 text-xs"> (Soporte Técnico)</span>
        }

        if(dept == "Developmet")
        {
             <span class="text-green-400 text-xs"> (Soporte Técnico)</span>
        }
    }
    <button onclick="window.AppLoader.show();">
        Ir a otro lado
    </button>
    <form method="post" asp-page="/Account/Logout" class="inline">
        <button type="submit" class="text-red-600 hover:text-red-800">Cerrar Sesión</button>
    </form>
</nav> *@





<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
</a>
